::-webkit-scrollbar {
  width: 12px; /* 横向滚动条的宽度 */
  height: 12px; /* 纵向滚动条的高度 */
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ccc; /* 鼠标悬停时的颜色 */
}

::-webkit-scrollbar-track {
  background: transparent; /* 滚动条背景颜色 */
}
